*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  background-color: hsl(0, 100%, 74%);
  background-image: url(../images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 534px;
  margin: 5em auto;
  height: 100vh;
}

@media screen and (min-width: 890px) {
  body {
    max-width: 1176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 2em;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 890px) {
  header {
    text-align: left;
  }

  header h1 {
    max-width: 270px;
  }
}

header p {
  height: 50%;
}

main {
  padding: 1.2em;
  text-align: center;
}

section.call-to-action {
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0px 7px 0px hsl(249deg 10% 26% / 26%);
}

section.call-to-action p {
  font-size: 0.9rem;
  width: 210px;
}

section.call-to-action p span {
  font-weight: 700;
}

section.form {
  padding: 1em;
  margin: 1.3em 0;
  background-color: #fff;
  border-radius: 10px;
}

section.form form {
  width: 95%;
  margin: 0 auto 0.5em auto;
}

section.form input {
  width: 100%;
  padding: 1em;
  margin: 0.6em 0;
  border-radius: 5px;
  border: solid 1px hsl(246, 25%, 77%);
  font-weight: 600;
  font-family: "Poppins";
  -webkit-appearance: none;
}

section.form input:focus-visible {
  border-color: #fff;
  outline: 1px solid hsl(249, 10%, 26%);
}

section.form input[type="submit"] {
  font-size: 1rem;
  padding: 1em;
  color: #fff;
  background-color: hsl(154, 59%, 51%);
  border: none;
  box-shadow: 0px 4px 0 hsl(154deg 57% 41% / 85%);
  cursor: pointer;
}

/* Hover State */

section.form input[type="submit"]:hover {
  background-color: hsl(154deg 59% 51% / 75%);
  box-shadow: 0px 4px 0 hsl(154deg 57% 41% / 69%);
}

/* --------- */

footer {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}

footer p {
  width: 250px;
  color: hsl(246, 25%, 77%);
}

@media screen and (min-width: 890px) {
  footer p {
    width: 380px;
  }
}

footer a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  font-weight: 600;
}
